@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home";
    ViewBag.Header = "Welcome!";
}


<body>

    <br>

        <br>
        <img src="img/harp.JPG">
        <br><br>

        <p>I am hoping to get a firm grasp on the C# language. I am going to use the language for several personal projects, so I hope to become an expert in it.</p>
        <br>
        <p>The following are the top 3 jobs that I am interested in pursuing.</p>

        <div>
            <ol>
                <li>Software Development</li>
                <li>Cybersecurity</li>
                <li>Data Analyst</li>
            </ol>
        </div>

        <br><br>

        

    <br>

</body>